<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
<li><a href="/data/init">Clear & Init Users & Memes</a>
<li><a href="/bets/init">Mass Create Bets</a>
<li><a href="/bets/clear">Clear All Bets</a>
</ul>

<ul>
<li><a href="/poll/data">Generate Stats by Meme</a>
</ul>
    {{{body}}}
  </body>
</html>
